<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <header class="container">
        <%- include('../partials/header'); %>
    </header>

    <main class="container">
        <div class="jumbotron">
            <h1>Top Mascots</h1>
            <p><%= tagline %></p>
            <ul class="mascot-list">
                <% mascots.forEach(function(mascot) { %>
                    <li class="mb-2">
                        <strong><%= mascot.name %></strong>
                        representing <%= mascot.organization %>, born <%= mascot.birthYear %>
                    </li>
                <% }); %>
            </ul>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>
</html>
